<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CashCenter.IvEnergySales.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="CashCenter.IvEnergySales.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DbConnectionStringFormat" value="DataSource={0};User=SYSDBA;Password=masterkey;Database={1}" />
    <add key="DbfConnectionStringFormat" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties=dBASE IV;" />
    <add key="DbCodeMappingXmlPath" value="Data\DbCodeMapping.xml" />
    <add key="InputDirectory" value="Input" />
    <add key="OutputDirectory" value="Output" />
    <add key="CustomerInputSubfolderNameFormat" value="Customers_{0}_{1:dd_MM_yyyy}" />
    <add key="CustomerOutputFileFormat" value="Payments_{0}_{1:dd-MM-yyyy}.off" />
    <add key="OrganizationOutputFileFormat" value="OrganizationsPayments_{0}_{1:dd-MM-yyyy}.csv" />
    <add key="CurrentRegionCode" value="00" />
    <add key="CheckPrinterPassword" value="30" />
    <add key="CheckPrinterMaxLineLength" value="36" />
    <add key="CheckPrinterCountEmptyLinesAfterCheck" value="10" />
    <add key="SalesMainInfo" value="ПОЛУЧАТЕЛЬ ПЛАТЕЖА:|ООО Ивановоэнергосбыт|ИНН 3702044413|КПП 370201001|153002, Ивановская область, г. Иваново, пр-т Ленина, д. 21, стр. 1, тел. 58-57-45"/>
    <add key="SalesDepartmentInfo" value="153510 г.о.Кохма, пл.Октябрьская, 14, тел. 58-56-02" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="NdsPercent" value="18" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FirebirdSql.Data.FirebirdClient" publicKeyToken="3750abcc3150b00c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <userSettings>
    <CashCenter.IvEnergySales.Properties.Settings>
      <setting name="CasherName" serializeAs="String">
        <value />
      </setting>
      <setting name="IsCustomerOfflineMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomerInputDbfPath" serializeAs="String">
        <value />
      </setting>
    </CashCenter.IvEnergySales.Properties.Settings>
    <CashCenter.IvEnergySales.Settings>
      <setting name="Test" serializeAs="String">
        <value>12345</value>
      </setting>
    </CashCenter.IvEnergySales.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="CashCenterContext" connectionString="metadata=res://*/CashCenterModel.csdl|res://*/CashCenterModel.ssdl|res://*/CashCenterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=E:\Projects\CashCenter\DataBase\CashCenter.mdf;initial catalog=CashCenter;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>