<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CashCenter.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CashCenter.Common.Properties.Settings>
            <setting name="CasherName" serializeAs="String">
                <value />
            </setting>
            <setting name="ArticlesWarehouseCode" serializeAs="String">
                <value />
            </setting>
            <setting name="ArticlesWarehouseName" serializeAs="String">
                <value />
            </setting>
            <setting name="ArticlesDocumentNumberCurrentValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WaterСommissionPercent" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="GarbageCollectionFilialCode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GarbageCollectionCommissionPercent" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RepairFilialCode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RepairCommissionPercent" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ArticlesManipulatorType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ArticlesZeusDbUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="ArticlesZeusDbPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EnergyPerformerInn" serializeAs="String">
                <value />
            </setting>
            <setting name="EnergyPerformerName" serializeAs="String">
                <value />
            </setting>
            <setting name="EnergyPerformerKpp" serializeAs="String">
                <value />
            </setting>
            <setting name="EnergyReceiverInn" serializeAs="String">
                <value />
            </setting>
            <setting name="EnergyReceiverName" serializeAs="String">
                <value />
            </setting>
            <setting name="EnergyReceiverBankName" serializeAs="String">
                <value />
            </setting>
            <setting name="EnergyReceiverBankBik" serializeAs="String">
                <value />
            </setting>
            <setting name="EnergyReceiverAccount" serializeAs="String">
                <value />
            </setting>
        </CashCenter.Common.Properties.Settings>
    </userSettings>
</configuration>